<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top">
      <img src="assets/nombre.png" alt="">
    </div>
    <img id="imagen" src="assets/icon/icon.png">
    <div class="Aligner-item Aligner-item--bottom">
      <img src="assets/division.png" alt="">
    </div>
  </div>
</div>

<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="darkBlue">
  <img src="assets/logoQr.png" alt="" class="icon" style="margin-top: 15%;">
  <ion-label [hidden]='datosCorrectos' class="datos-incorrectos">Datos incorrectos</ion-label> 
<ion-item color="darkBlue" style="margin-top: 20%;">
  <ion-label position="floating">Correo electrónico</ion-label> 
  <ion-input type="text" [(ngModel)]="correo" name="correo"></ion-input>
</ion-item> 
<ion-item color="darkBlue">
  <ion-label position="floating">Contraseña</ion-label> 
  <ion-input type="password" [(ngModel)]="clave" name="clave"></ion-input>
</ion-item>
<br>
<ion-button expand="block" (click) = "onSubmitLogin()" color="secondary" style="height: 55px;">Entrar</ion-button>

<div style="margin-top: 3%;">
  <ion-button class="botones-3" fill="outline" (click)="onChange(0)">Admin</ion-button>
  <ion-button class="botones-3" fill="outline" (click)="onChange(1)">Invitado</ion-button>
  <ion-button class="botones-3" fill="outline" (click)="onChange(2)">Usuario</ion-button>
  <ion-button class="botones-2" fill="outline" (click)="onChange(3)">Anónimo</ion-button>
  <ion-button class="botones-2" fill="outline" (click)="onChange(4)">Tester</ion-button>
</div>

</ion-content>
