<ion-header>
  <ion-toolbar color="secondary">
    <ion-button slot="end" fill="clear" (click)="logOut()">
      <ion-icon style="color: aliceblue" name="log-out"></ion-icon>
    </ion-button>
    <ion-title>
      Carga de crédito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-card color="secondary" style="margin-top: 15%;">
      <ion-card-header style="text-align: center;">
        <ion-card-title style="font-size:x-large; color: black;"> <b> Carga: {{ usuario.saldo | currency}} </b></ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <ion-label style="color:black; font-size:large"> Usuario: {{ usuario.perfil }} </ion-label>
      </ion-card-content>
    </ion-card>
    <div style="text-align: center; margin-top: 20%;">
      <ion-label style="margin:0px; font-size: large; color: white;"> Click para escanear QR </ion-label>
      <ion-button class="marks-buttons" color="secondary" expand="block" (click)="scan()">
        <img src="../../assets/manoQr.png" alt="" style="width: 80%; height: 80%;">
      </ion-button>
    </div>
  </div>

</ion-content>

<ion-footer>

  <ion-toolbar>

    <ion-button color="secondary" expand="block" (click)="limpiar()">
      <span showWhen="ios">Anular carga</span>
      <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>